.loading-screen {
  .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      font-size: 3rem;
      letter-spacing: 5px;
      margin-top: 50px;
    }
  }
}

.animation-container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 60vw;
  max-height: 400px;
  width: 100%;
  .animation-bar {
    background-color: $light-blue;
    height: 100%;
    width: 23%;
    animation: stretchAndSquish 1s alternate infinite;
  }
  @for $i from 0 through 3 {
    .animation-bar#{$i} {
      animation-delay: (0.5s * $i)
    }
  }
}

@keyframes stretchAndSquish {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(-1);
  }
}