//Splash Page specific styles.

.splash-background {
  background-image: url("../assets/concession_stand.png");
  background-size: cover;
  background-position: center;
  height: 90vh;
  min-height: 800px;

  .splash-flex {
    @include flex(row, center, center);
    height: 100%;
  }
}

.splash-content {
  @include flex(column, stretch, flex-start);
  align-self: flex-end;
  background-color: $trans-dark-blue;
  margin-bottom: 80px;
  padding: 4rem;
  width: 75%;

  p {
    align-self: flex-end;
    margin-left: 25%;
    width: 75%;
  }

  form {
    @include flex(row, stretch, space-between);
    margin-left: 25%;
    margin-top: 3.5%;
    width: 75%;

    input {
      border: none;
      border-radius: 0.3rem;
      padding: 10px 0px 10px 5px;
      padding-left: 0.5rem;
      width: 80%;
    }

    button {
      background-color: $light-blue;
      border: $white 3px solid;
      border-radius: 0.3rem;
      color: $white;
      font-weight: 700;
      padding: 10px 20px;
    }

    button:hover,
    button:focus {
      border: $teal 3px solid;
      color: $teal;
    }
  }

  .results-buttons {
    @include flex(row, stretch, space-between);
    margin-top: 3rem;
    margin-left: 25%;
    width: 75%;
    
    .error-message {
      color: $white;
      margin-left: 0;
      width: 100%;
    }
    
    button {
      background-color: $white;
      border: 3px solid $light-blue;
      box-sizing: content-box;
      color: $light-blue;
    }
    
    button:hover,
    button:focus {
      background-color: $teal;
    }

  }
  .no-movies::placeholder {
    color: $darker-orange;
    opacity: 1;
  }
}
