//Partial for styles specific to typographical elements

html {
    font-size: 62.5%;
}

//Stripping default styling
h1, 
h2, 
p, 
button, 
footer {
    margin: 0;
    padding: 0;
} 

p {
    line-height: 2.5rem;
}

body {
    font-family: $lato;
    font-size: 2rem;
    font-weight: 600; 
    color: $white;
}

h1 {
    font-family:$kanit;
    color: $white;
    font-size: 6rem;
    padding-bottom: 2%;
    letter-spacing: 0.1rem;
    text-align: right;
}

button {
    font-family: $kanit;
}

