//.scss partial delcaring variables used within styling
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Lato:wght@400;700&display=swap');

$dark-blue: #141640;
$darker-orange: #B05C3A;
$light-blue: #6B6EEC;
$light-orange: #BF9458;
$trans-dark-blue: hsla(237, 52%, 16%, 0.8);
$teal: #8EF9F4;
$trans-light-blue:hsla(239, 77%, 67%, 0.8);

$black: #111;
$white: #E5E5E5;

$kanit: 'Kanit', sans-serif;
$lato: 'Lato', sans-serif;