@import "partials/setup";
@import "partials/variables";
@import "partials/typography";
@import "partials/splashPage";
@import "partials/loadingScreen";
@import "partials/resultsPage";
@import "partials/mediaQueries";

//General universal styles

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

body {
  //idk about this come back and fix it later maybe??????????
  background-color: $dark-blue;
}

footer {
  text-align: center;
  .wrapper {
    margin-top: 0.5%;
  }

  a {
    color: $teal;
    text-decoration: none;
    margin-left: 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  .tmdb-logo{
    width: 100px;
  }

  .icon-attribution,
  .api-attribution{
    font-size:1.6rem;
  }

  
}