@import "partials/setup";
@import "partials/mixins";
@import "partials/variables";
@import "partials/typography";
@import "partials/splashPage";
@import "partials/loadingScreen";
@import "partials/resultsPage";
@import "partials/mediaQueries";

//General universal styles

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

body {
  background-color: $dark-blue;
}

footer {
  text-align: center;

  .wrapper {
    margin-top: 0.5%;
  }

  a {
    color: $teal;
    margin-left: 5px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .tmdb-logo{
    width: 100px;
  }

  .icon-attribution,
  .api-attribution{
    font-size:1.6rem;
  }

  
}